
.m-header{
    height: 100px;
    /* width: 1451px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(112, 119, 221, 0.386);
    font-size: 20px;
    gap: 50px;
    /* border-radius: 20px; */
}

.tag-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    margin-right: -50px;
}

.exam-type{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    /* gap: 30px; */
}

.exam-type span {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: beige; */
    /* border: 2px solid black; */
    /* border-radius: 20px; */
}

.m-body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    height: 80px;
    margin-top: 10px;
}

.m-body input {
    width: 287px;
    background-color: azure;
    height: 63px;
    text-align: center;
    /* border-radius: 10px; */
}

.stu-details {
    height: 63px;
    width: 300px;
    background-color: rgba(96, 218, 82, 0.37);
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    cursor: pointer;
}

.stu-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-left: 700px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 120px;
    border-radius: 10px;
    background-color: rgba(211, 105, 135, 0.364);
    cursor: pointer;
}

input[type="number"] {
    /* Firefox */
    -moz-appearance: textfield;
    /* WebKit/Blink */
    appearance: textfield;
  }
  
  /* Remove spinners in WebKit/Blink */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }