.body {
    width: 100%;
    height: 690px;
    margin: 0;
    overflow: hidden; 
}

.top-section {
    height: 100px;
    width: 100%;
    /* background-color: #B5E359; */
    background: rgba(41, 23, 23, 0.253); 
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    border-radius: 20px;
}

.top-section p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.top-section img{
    height: 80px;
    width: 400px;
    border-radius: 10px;
}

.tag-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.topsite,
.card-container {
    position: relative;
    z-index: 1;
    color: black; /* Adjust text color for visibility on video */
}

.mid-section {
    height: 690px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}
.topsite {
    width: 40%;
    height: 80px;
    /* background-color: #d8f3dc; */
    background: rgba(255, 255, 255, 0.5); 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
}
.topsite p {
    font-size: 20px;
    margin-right: 20px;
}

select {
    height: 30px;
    font-size: 16px;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 20px;
  }
  
  .card-1,
  .card-2,
  .card-3 {
    height: 300px;
    width: 200px;
    background-color: #dee2ff;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 0 0 20px rgba(0.5, 0.5, 0.7, 0.7);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    /* border: .2px solid black; */
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
    transform: translateY(-20px);
}

.a-alpha {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-radius: 10%;
    opacity: 0.9;
    margin-top: -10px;
}

.card-text {
    padding:  0 0 0px 20px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
